@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-hagrid: 'Hagrid', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@layer base {
  body {
    @apply font-poppins text-akademos-gray bg-akademos-cream;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-hagrid;
  }
}
